.hero-unit
	%h1 Bienvenido
	%p 
		Si tu ... 
		%ul
			%li Deseas organizar o participar en un intercambio.

			%li Y estas cansad@ de hacer papelitos

			%li O estas harto de que jamás te toque lo que querias

			%li O sospechas de la integridad del sorteo

		Tu solución es ChangeU, el administrador de Intercambios que tú, tus amigos y conocidos estaban esperando.

	%br
	%p.center=link_to "Incribite ya!!!", "#", class:"btn btn-primary btn-large"

