.login
	= form_for :session, url:verify_path do |f|
		%p
			%h2 Usuario: 
			=f.text_field :usuario
		%p
			%h2 Password:
			=f.password_field :password
		.center
			=f.submit "Entrar ", class:"btn btn-large btn-inverse",style:"font-size:2em;"
