@import "bootstrap";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: white;
  background-color: #FF3366;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FF3366;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #FF3366;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid  #eaeaea;;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.btn-inverse , {
  color:#FF3366;
  font-weight:bold;
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled], .btn-inverse:visited, {
  color: #FF3366;
}

.edel, .edel:hover, .edel:visited{
  color:#FF3366;
  background-color:#fff;
}
